<h2>Product Name: <%= item.product.name %></h2>
<p>Description: <%= item.product.description %></p>
<hr>
<p>Unit Price: $<%= item.product.price%></p>
<p>Quantity: <%= item.quantity %></p>
<p>Sub Total: <%= item.product.price * item.quantity %></p>